body {
  margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(500px circle at top left, #6B0884 0%, transparent 75%),
    radial-gradient(500px circle at bottom right, #6B0884 0%, transparent 65%),
    #11001B;
}
#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow:
    0 0 10px rgba(255,255,255,0.8),
    0 0 20px rgba(255,255,255,0.6),
    0 0 40px rgba(255,255,255,0.4);
}
.subtitle {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  text-shadow:
    0 0 10px rgba(255,255,255,0.8),
    0 0 20px rgba(255,255,255,0.6),
    0 0 40px rgba(255,255,255,0.4);
};
.navbar {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.nav-links {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px;

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.3),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.nav-links span {
  font-size: smaller;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.nav-links span:hover {
  color: #d28cff;
}
.button {
  position: absolute;
  top: 2rem;
  right: 3%;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: linear-gradient(to right, #8500EB, #780994);
  box-shadow: 0 0 20px rgba(133, 0, 235, 0.5);
}
.logo {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 60px;
}
